<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>base</title>
        <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="{%static "homepage_master.css"%}">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    </head>
    <body>


        <h1 class = "headings"><div id="logo">

        </div> <img id = "logo" src="{%static "ccetLogoBlack.png"%}" alt="" style="width: 100px; padding:0">
Welcome to official bulletin!!!</h1>
        <div class="w3-sidebar w3-bar-block " id ="side_flick" style="width:10%">
        <h3> <b><u>Deparments</u></b> </h2>
          <a href="#" class="w3-bar-item w3-button">CSE</a>
          <a href="#" class="w3-bar-item w3-button">ECE</a>
          <a href="#" class="w3-bar-item w3-button">Mechanical</a>
          <a href="#" class="w3-bar-item w3-button">Civil</a>
        <br><br>

        <div id="heading_links">
            <a class="btn btn-primary btn-lg" href="{%url "index"%}">Home</a>
            <a class="btn btn-primary btn-lg" href="{%url "messenger_app:user_login"%}">POST</a>
            <a class="btn btn-primary btn-lg" href="{% url "messenger_app:student_register"%}">Signup!</a>
        </div>
        <p id = "signup_p">By Signing up you will recieve the notifications through message and as well as an email.</p>
        </div>
        <br><br><br><br><br><br>


        <div class="w3-sidebar w3-bar-block " id ="side_flick_right" style="width:10%">
        <h3 style="margin-left:5%"> <b>Quick links</b>  </h2>
          <a href="http://ccet.ac.in/" class="w3-bar-item w3-button">CCET</a>
          <a href="https://puchd.ac.in/" class="w3-bar-item w3-button">PU</a>
          <a href="http://eakadamik.in/ccet/" class="w3-bar-item w3-button">E-Akadamic</a>
          <a href="{%url "admin:index"%}" class="w3-bar-item w3-button">Admin</a>

        <br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <div id="heading_links">
            <a href="#">About</a>
        </div>
        </div>


        <div class="container">
            {% block body_block %}
            {% endblock %}
        </div>

    </body>
</html>
